<aside id="secondary" class="widget-area" role="complementary" aria-label="side column">
  <section id="recent-posts" class="widget widget_recent_entries">
  <h2 class="widget-title">{{ i18n "menuTitle" }}</h2>
    <ul>
<!--
      <li><a href="{{ "/archives" | absURL }}">{{ i18n "archives" }} <i class="fa fa-archive" aria-hidden="true"></i></a></a></li>
 -->
      <li><i class="fa fa-address-card" aria-hidden="true"></i> <a href="{{ "/a-propos" | absURL }}">{{ i18n "aboutUs" }}</a></li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="{{ "/contact" | absURL }}">{{ i18n "contactTitle" }}</a></li>
      <li><i class="fa fa-rss" aria-hidden="true"></i> <a href="{{ "/index.xml" | absURL }}">{{ i18n "RSSFeed" }}</a></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/nmartignoni">Twitter</a></li>
      <li><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/martignoni/">GitHub</a></li>
    </ul>
  </section>
</aside>
