<aside id="secondary" class="widget-area" role="complementary" aria-label="side column">
  <section id="menu" class="widget widget_menu">
  <h2 class="widget-title">{{ i18n "menuTitle" }}</h2>
    <ul>
      <li><i class="icon fa fa-archive fa-fw" aria-hidden="true"></i><a href="{{ "/archive" | absURL }}">{{ i18n "archive" }}</a></li>
      <li><i class="icon fa fa-user fa-fw" aria-hidden="true"></i><a href="{{ "/a-propos" | absURL }}">{{ i18n "aboutUs" }}</a></li>
      <li><i class="icon fa fa-envelope fa-fw" aria-hidden="true"></i><a href="{{ "/contact" | absURL }}">{{ i18n "contactTitle" }}</a></li>
      <li><i class="icon fa fa-rss fa-fw" aria-hidden="true"></i><a href="{{ "/index.xml" | absURL }}">{{ i18n "RSSFeed" }}</a></li>
      <li><i class="icon fa fa-twitter fa-fw" aria-hidden="true"></i><a href="https://twitter.com/nmartignoni" target="_blank" rel="me">Twitter</a></li>
      <li><i class="icon fa fa-github fa-fw" aria-hidden="true"></i><a href="https://github.com/martignoni/" target="_blank" rel="me">GitHub</a></li>
    </ul>
  </section>
</aside>
