<aside id="secondary" class="widget-area" role="complementary" aria-label="side column">
  <section id="menu" class="widget widget_menu">
  <h2 class="widget-title">{{ i18n "menuTitle" }}</h2>
    <ul>
      <li><a href="{{ "/archives" | absURL }}"><i class="icon fa fa-archive" aria-hidden="true"></i> {{ i18n "archives" }}</a></li>
      <li><a href="{{ "/a-propos" | absURL }}"><i class="icon fa fa-user" aria-hidden="true"></i> {{ i18n "aboutUs" }}</a></li>
      <li><a href="{{ "/contact" | absURL }}"><i class="icon fa fa-envelope" aria-hidden="true"></i> {{ i18n "contactTitle" }}</a></li>
      <li><a href="{{ "/index.xml" | absURL }}"><i class="icon fa fa-rss" aria-hidden="true"></i> {{ i18n "RSSFeed" }}</a></li>
      <li><a href="https://twitter.com/nmartignoni"><i class="icon fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
      <li><a href="https://github.com/martignoni/"><i class="icon fa fa-github" aria-hidden="true"></i> GitHub</a></li>
    </ul>
  </section>
</aside>
