/* Vous pouvez ajouter du CSS personnalisé ici. */
blockquote {
  font-size: inherit;
  line-height: inherit;
  padding-left: .5em;
}

blockquote > p {
  padding-left: 1em;
  border-left: 3px solid #bbb
}

.site-content {
  padding: 1.5em 0 0 0;
}

.site-info {
  display: none;
}

.widget_aptf_widget a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

.qtip-content a {
  -webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
  box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
  -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.qtip-content a:hover {
  color: #000;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

#primary ul {
  list-style: none;
  margin-left: 1.5em;
  padding-left: 0;
  text-indent: -1.5em;
}

#primary ol {
  margin-left: 1.5em;
  padding-left: 0.5em;}

#primary ul li:before {
  content: "–";
  display: block;
  float: left;
  width: 1.5em;
}

/* Gallery. */

.gallery {
  margin: 0.5em -4px 1.5em -4px;
  font-size: 0;
}

a[data-fancybox] {
  text-decoration: none;
}

a[data-fancybox] img {
  height: 250px;
  max-width: inherit;
  display: inherit;
  margin: 0;
  padding: 4px;
  box-shadow: none;
  vertical-align: inherit;
}

.fancybox-caption {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
