{{ $lastname := index (split (.Param "author") " ") 1 }}
{{ $firstname := index (split (.Param "author") " ") 0 }}
{{ $firstnameinitial := substr $firstname 0 1 }}
{{ $sitetitle := site.Title }}
{{ $title := .Page.Title }}
{{ $formatteddate := .PublishDate | time.Format ":date_long" }}
{{ $permalink := .Page.Permalink }}
{{/* <!-- https://www.scribbr.fr/normes-apa/exemple-site-internet/ --> */}}
<section class="citation">
<p class="citation-title"><strong>{{ i18n "citationTitle" }}</strong> : {{ printf "%s,  %s. (%s). %s.  <em>%s</em>. %s." $lastname $firstnameinitial $formatteddate $title $sitetitle $permalink | safeHTML }}</p>
</section> <!-- .citation -->
