<span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
{{ if .PublishDate.IsZero }}
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan 2006" }}</time>
{{ else if lt .PublishDate .Lastmod }}
  <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "2 Jan 2006" }}</time>
{{ else }}
  <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
{{ end }}
<!--
{{ if .PublishDate.IsZero }}
  Publié le <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan 2006" }}</time>
{{ else if lt .PublishDate .Lastmod }}
  Mis à jour le <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "2 Jan 2006" }}</time>
{{ else }}
  Publié le <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
{{ end }}
 -->
<span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
<span>{{ .ReadingTime }} {{ partial "minutes" . }} {{ i18n "readingTime" }}</span>
