<span class="date-published" title="{{ i18n "publicationDate" . }}">
  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
  {{- if .PublishDate.IsZero }}
    <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
      <span class="date-day">{{ .Date | time.Format "2" }}</span>
      <span class="date-month">{{ .Date | time.Format "January" }}</span>
      <span class="date-year">{{ .Date | time.Format "2006" }}</span>
    </time>
  {{- else -}}
    <time datetime="{{ .PublishDate | time.Format "2006-01-02T15:04:05-07:00" }}">
      <span class="date-day">{{ .PublishDate | time.Format "2" }}</span>
      <span class="date-month">{{ .PublishDate | time.Format "January" }}</span>
      <span class="date-year">{{ .PublishDate | time.Format "2006" }}</span>
    </time>
  {{ end -}}
</span>
{{- if lt .PublishDate .Lastmod }}
<span class="date-modified" title="{{ i18n "modificationDate" . }}">
  <span class="icon"><i class="fa fa-repeat" aria-hidden="true"></i></span>
  <time datetime="{{ .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}">
    <span class="date-day">{{ .Lastmod | time.Format "2" }}</span>
    <span class="date-month">{{ .Lastmod | time.Format "January" }}</span>
    <span class="date-year">{{ .Lastmod | time.Format "2006" }}</span>
  </time>
</span>
{{ end -}}
<span class="reading-time" title="{{ i18n "readingTimeDuration" . }}">
  <span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
  {{- .ReadingTime }} {{ partial "minutes" . }} {{ i18n "readingTime" }}
</span>
