/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 Colors definitions

1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
   16.2 Bibliography and footnotes
17.0 Search
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
21.0 Dark mode
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 Colors
--------------------------------------------------------------*/

$white: #fff;
$gray-100: #fafafa;
$gray-200: #eee;
$gray-300: #ddd;
$gray-400: #bbb;
$gray-500: #999;
$gray-600: #767676;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black: #000;

$red: #ed0000;
$pink: #ffc4c4;

$body-color-light: $gray-800;
$body-color-dark: #ccc;
$link-hover-color-light: rgba(15, 15, 15, 1);
$link-hover-color-dark: rgba(240, 240, 240, 1);

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v8.0.1 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin: 1ex 1.5em 0 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 1ex 0 0 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.widget-area:after,
.widget:after {
  clear: both;
}

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: $body-color-light;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.4;
  margin: 0 0 0.75em;
  padding: 0.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  padding-top: 0;
}

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
}

h2,
.home.blog .entry-title {
  color: $body-color-light;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
}

h3 {
  color: $body-color-light;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
}

h4 {
  color: $body-color-light;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 800;
}

h5 {
  color: $gray-600;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h6 {
  color: $body-color-light;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 800;
}

p {
  margin: 0 0 1.2em;
  padding: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: $gray-700;
  font-size: inherit;
  font-style: italic;
  line-height: inherit;
  border-left: 5px solid $gray-500;
  margin: 0 0 1.2em .5em;
  overflow: hidden;
  padding: 0;
  quotes: "" "";
}

blockquote > p {
  padding-left: 1em;
}

blockquote > p:last-child {
  margin-bottom: 3px;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $gray-100;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.875rem;
  font-size: 70%;
  line-height: 1.6;
  margin-top: 0em;
  margin-bottom: 1em;
  max-width: 100%;
  overflow: auto;
  padding: 3ex 1.4em 4ex;
  border-radius: 6px;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875rem;
/*
  color: $gray-700;
  background-color: $gray-100;
 */
}

abbr,
acronym {
  border-bottom: 1px dotted $gray-700;
  cursor: help;
}

mark,
ins {
  background: $pink;
  text-decoration: none;
}

big {
  font-size: 125%;
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus {
  outline: none;
}

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
  color: $body-color-light;
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em;
}

fieldset {
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $gray-700;
  background: $white;
  border: 1px solid $gray-400;
  border-radius: 3px;
  display: block;
  padding: 0.7em;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: $gray-900;
  border-color: $gray-800;
}

select {
  border: 1px solid $gray-400;
  border-radius: 3px;
  height: 3em;
  max-width: 100%;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted $gray-800;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: $gray-900;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
  padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
  background-color: $gray-300;
  color: $gray-900;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: $gray-600;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
  background: $gray-400;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: $gray-500;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
}

:-moz-placeholder {
  color: $gray-500;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
}

::-moz-placeholder {
  color: $gray-500;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
  color: $gray-500;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
  background-color: $gray-400;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

ul,
ol {
  margin: 0 0 1.5em;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

#primary ul {
  list-style: none;
  margin-left: 1.5rem;
  padding-left: 0;
  text-indent: -1.5rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#primary ol {
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#primary ul li:before {
  content: "–";
  display: block;
  float: left;
  width: 1.5rem;
}

/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

thead th {
  border-bottom: 2px solid $gray-400;
  padding-bottom: 0.5em;
}

th {
  padding: 0.4em;
  text-align: left;
}

tr {
  border-bottom: 1px solid $gray-300;
}

td {
  padding: 0.4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
  color: $gray-900;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  color: $black;
  outline: 0;
}

/* Anchor heading links. */

.anchor-heading {
  color: transparent;
  display: none;
  font-size: smaller;
  margin-left: 1ex
}

:hover > .anchor-heading,
.anchor-heading:focus {
  color: $gray-700;
  display: inline
}

.entry-content a.anchor-heading {
  box-shadow: initial;
  transition: color 240ms ease-in;
}

.entry-content a.anchor-heading:hover,
.entry-content a.anchor-heading:focus {
  box-shadow: initial;
  color: $gray-700;
}

@media (min-width: 481px) {
  .anchor-heading {
    display:inline
  }
}

/* Hover effects */

.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a {
  box-shadow: inset 0 -1px 0 $link-hover-color-light;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
}

.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.post-navigation a,
.logged-in-as a,
a .nav-title,
.pagination a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a {
  box-shadow: inset 0 -1px 0 $white;
  text-decoration: none;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
}

.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.widget a:focus,
.widget a:hover,
.site-footer .widget-area a:focus,
.site-footer .widget-area a:hover,
.entry-title a:focus,
.entry-title a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-footer .cat-links a:focus,
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:focus,
.entry-footer .tags-links a:hover,
.post-navigation a:focus,
.post-navigation a:hover,
.pagination a:not(.prev):not(.next):focus,
.pagination a:not(.prev):not(.next):hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
a:focus .nav-title,
a:hover .nav-title,
.widget .widget-title a:focus,
.widget .widget-title a:hover,
.widget ul li a:focus,
.widget ul li a:hover {
  color: $black;
  box-shadow: inset 0 0 0 $white, 0 3px 0 $black;
}

/* Fixes linked images */
.entry-content a img,
.widget a img {
  box-shadow: 0 0 0 8px $white;
}

.post-navigation a:focus .icon,
.post-navigation a:hover .icon {
  color: $gray-900;
}

/*--------------------------------------------------------------
11.0 Featured Image Hover
--------------------------------------------------------------*/

.post-thumbnail {
  margin-bottom: 1em;
}

.post-thumbnail a img {
  -webkit-backface-visibility: hidden;
  transition: opacity 0.2s;
}

.post-thumbnail a:hover img,
.post-thumbnail a:focus img {
  opacity: 0.7;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $white;
  /* Fallback for when there is no custom background color defined. */
}

#page {
  position: relative;
  word-wrap: break-word;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-left: 2em;
  padding-right: 2em;
}

.wrap:after {
  clear: both;
  content: "";
  display: block;
}

/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/

#masthead .wrap {
  position: relative;
  height: 10vmin;
  max-height: 70px;
}

.site-header {
  background-color: $gray-100;
  position: relative;
  z-index: 100;
}

/* Site branding */

.site-branding {
  padding: 1em 0;
  position: relative;
  transition: margin-bottom 0.2s;
  z-index: 3;
}

.site-branding a {
  text-decoration: none;
  transition: opacity 0.2s;
}

.site-branding a:hover,
.site-branding a:focus {
  opacity: 1;
}

.site-logo {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.site-logo img {
  height: 140%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.3em;
}

.site-title {
  clear: none;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.08em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.site-title,
.site-title a {
  color: $red;
}

.site-description {
  color: $red;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 0;
}

body .site-branding-text {
  display: inline-block;
  vertical-align: middle;
}

.custom-header {
  position: relative;
}

/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

/* Front Page - Recent Posts */

.recent-posts .entry-header {
  margin-bottom: 1.2em;
}

/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/

.site-content-contain {
  background-color: $white;
  position: relative;
}

.site-content {
  padding: 1.5em 0 0 0;
}

/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

/* Post Landing Page */

.page-title,
body.page .entry-title {
  color: $gray-900;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.entry-header .entry-title {
  margin-bottom: 0.25em;
}

.entry-header .entry-summary {
  margin-top: 0.25em;
  font-size: .9375rem;
}

.entry-title a {
  color: $body-color-light;
  text-decoration: none;
  margin-left: -2px;
}

.entry-title:not(:first-child) {
  padding-top: 0;
}

.entry-meta {
  color: $gray-600;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 0.25em;
  text-transform: uppercase;
  cursor: default;
}

.entry-meta .date-published,
.entry-meta .date-modified {
  margin-right: 1.5em;
}

.entry-meta .icon {
  margin-right: 1ex;
}

.entry-meta a {
  color: $gray-600;
}

.pagination {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0 0 1em 0;
  text-align: center;
}

.pagination .icon {
  width: 0.666666666em;
  height: 0.666666666em;
}

.page-numbers {
  display: none;
  padding: 0.5em 0.75em;
}

.page-numbers.current {
  color: $gray-600;
  display: inline-block;
}

.page-numbers.current .screen-reader-text {
  clip: auto;
  height: auto;
  overflow: auto;
  position: relative !important;
  width: auto;
}

.prev.page-numbers,
.next.page-numbers {
  background-color: $gray-300;
  border-radius: 2px;
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25em 0.5em 0.4em;
}

.prev.page-numbers,
.next.page-numbers {
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
  background-color: $gray-600;
  color: $white;
}

.prev.page-numbers {
  float: left;
}

.next.page-numbers {
  float: right;
}

/* Aligned blockquotes */

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
  color: $gray-700;
  font-size: 13px;
  font-size: 0.8125rem;
  width: 48%;
}

/* Blog landing, search */

.blog .site-main > article,
.archive .site-main > article,
.search .site-main > article {
  padding-bottom: 2em;
}

.entry-header {
  padding: 0 0 1em 0;
}

.entry-header,
.entry-content {
  margin-left: auto;
  margin-right: auto;
}

/* More tag */

.entry-content .more-link:before {
  content: "";
  display: block;
  margin-top: 1.5em;
}

/* Single Post */

.has-sidebar.single.post #secondary {
  padding-top: 14px;
}

.single-featured-image-header {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-300;
}

.single-featured-image-header img {
  display: block;
  margin: auto;
}

.page-links {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 2em 0 3em;
}

.page-links .page-number {
  color: $gray-600;
  display: inline-block;
  padding: 0.5em 1em;
}

.page-links a {
  display: inline-block;
}

.page-links a .page-number {
  color: $gray-900;
}

/* Citation. */

section .citation {
  border-top: 1px solid $gray-200;
  margin-top: 2em;
  padding: 2em 0 0;
  font-size: 0.9375rem;
}

section .citation > p {
  margin: 0;
  padding: 0;
}

/* Entry footer */

.entry-footer {
  border-bottom: 1px solid $gray-300;
  border-top: 1px solid $gray-300;
  padding: 2em 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links,
.entry-footer .permalink {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  padding-left: 2.5em;
  position: relative;
  text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links,
.entry-footer .tags-links + .permalink {
  margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a,
.entry-footer .permalink a {
  color: $gray-900;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon,
.entry-footer .permalink .icon {
  color: $gray-600;
  left: 0;
  margin-right: 0.5em;
  position: absolute;
  font-size: 1rem;
  top: 0px;
}

/* Post Navigation */

.post-navigation {
  font-weight: 800;
  margin: 1em 0;
}

.post-navigation .nav-links {
  padding: 1em 0;
}

.nav-subtitle {
  background: transparent;
  color: $gray-600;
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.1818em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.nav-title {
  color: $body-color-light;
  font-size: 15px;
  font-size: 0.9375rem;
}

.post-navigation .nav-next {
  margin-top: 1.5em;
}

.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
  margin-right: 0.5em;
}

.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
  margin-left: 0.5em;
}

/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page-header {
  padding-bottom: 2em;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page:not(.home) #content {
  padding-bottom: 1.5em;
}

/* Archive page */

#primary section.archive-group {
  font-size: .9375rem;
  padding: 0 0 1.5em 0;
}

#primary .archive-group h4 {
  margin: 0 0 0.25em;
}

#primary .archive-group ul,
#primary .archive-group ol {
  list-style: none;
  text-indent: 0;
  margin: 0;
}

#primary .archive-group ul li,
#primary .archive-group ol li {
  padding-left: 2em;
  text-indent: -2em;
  margin: 0 0 .25em 0;
}

#primary .archive-group ul li .link,
#primary .archive-group ol li .link {
  padding-right: 1.5em;
}

#primary .archive-group ul li:before {
  content: "";
}

#primary .archive-group ul li a:hover {
  color: $black;
  box-shadow: inset 0 0 0 $white, 0 3px 0 $black;
}

#primary .archive-group ul li .meta {
  font-style: italic;
  color: $gray-600;
}

#error-page .icon {
  font-size: 1.1875rem;
}

/*--------------------------------------------------------------
13.6 Footer
--------------------------------------------------------------*/

.site-footer {
  border-top: 1px solid $gray-300;
}

.site-footer .wrap {
  padding-bottom: 1.5em;
  padding-top: 2em;
}

/* Footer widgets */

.site-footer .widget-area {
  padding-bottom: 2em;
  padding-top: 2em;
}

/*--------------------------------------------------------------
14.0 Comments
--------------------------------------------------------------*/

.form-submit {
  text-align: right;
}

/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/

#secondary {
  padding: 1em 0 2em;
}

.widget {
  padding-bottom: 3em;
}

h2.widget-title {
  color: $gray-900;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

.widget-title a {
  color: inherit;
}

/* widget forms */

.widget select {
  width: 100%;
}

/* widget lists */

.widget ul {
  list-style: none;
  margin: 0;
}

.widget ul li,
.widget ol li {
  border-bottom: 1px solid $gray-300;
  border-top: 1px solid $gray-300;
  padding: 0.5em 0;
}

.widget ul li + li {
  margin-top: -1px;
}

.widget ul li ul {
  margin: 0 0 -1px;
  padding: 0;
  position: relative;
}

.widget ul li li {
  border: 0;
  padding-left: 24px;
  padding-left: 1.5rem;
}

/* Text widget */

.widget_text {
  word-wrap: break-word;
}

.widget_text ul {
  list-style: disc;
  margin: 0 0 1.5em 1.5em;
}

.widget_text ol {
  list-style: decimal;
}

.widget_text ul li,
.widget_text ol li {
  border: none;
}

.widget_text ul li:last-child,
.widget_text ol li:last-child {
  padding-bottom: 0;
}

.widget_text ul li ul {
  margin: 0 0 0 1.5em;
}

.widget_text ul li li {
  padding-left: 0;
  padding-right: 0;
}

.widget_text ol li {
  list-style-position: inside;
}

.widget_text ol li + li {
  margin-top: -1px;
}

/* menu widget */

.widget_menu li .icon {
  font-size: 1.1875rem;
  margin-right: 1.25ex;
}

/* Recent Posts widget */

.widget_recent_entries .post-date {
  display: block;
}

/*--------------------------------------------------------------
16.0 Media
--------------------------------------------------------------*/

img,
video {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

img.alignleft,
img.alignright {
  float: none;
  margin: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* Remove bottom on embeds that wrapped in paragraphs via wpautop. */

p > embed:only-child,
p > iframe:only-child,
p > object:only-child {
  margin-bottom: 0;
}

/* SVG Icons base styles */

.icon {
  display: inline-block;
  fill: currentColor;
/*
  height: 1em;
 */
  position: relative; /* Align more nicely with capital letters */
  top: -0.0625em;
  vertical-align: middle;
  width: 1em;
}

/*--------------------------------------------------------------
16.1 Galleries
--------------------------------------------------------------*/

.gallery {
  margin: 0.5em -4px 1.5em -4px;
  font-size: 0;
}

a[data-fancybox] {
  text-decoration: none;
}

.gallery a[data-fancybox] img {
  /* height: 250px; */
  width: 250px;
  max-width: inherit;
  display: inherit;
  margin: 0;
  padding: 4px;
  box-shadow: none;
  vertical-align: inherit;
}

figcaption {
  font-style: italic;
}

figcaption,
.fancybox-caption {
  font-size: .9375rem;
  line-height: 1.5rem;
  text-align: center;
}

/*--------------------------------------------------------------
16.2 Bibliography and footnotes
--------------------------------------------------------------*/

.sources {
  margin-top: 2em;
}

.sources .sources-title {
  font-size: 0.875rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: .25em;
}

.sources ul {
  margin-left: 1.25rem;
  padding-left: 0;
  text-indent: -1.25rem;
}

.sources ul li {
  font-size: 0.8125rem;
  font-style: italic;
}

.sources ul li:before {
  width: 1.25rem;
}

/* Footnotes. */

.footnotes {
  font-size: 0.875rem;
}

.footnotes p {
  margin: 0 0 .25em;
}

/*--------------------------------------------------------------
17.0 Search
--------------------------------------------------------------*/

body .site-search-button {
  display: inline-block;
  line-height: 3.9rem;
  float: right;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.half {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.js-search {
  font-size: 2rem;
  color: $gray-500;
}

.search-results {
  transform: scale(0);
  background-color: $white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: scroll;
  position: fixed;
  visibility: hidden;
  z-index: -99;
}

.searching {
  overflow: hidden;
}

.searching .search-results {
  transform: scale(1);
  visibility: visible;
  z-index: 11; /* Second highest index, after navbar. */
}

.searching #search-box #search-query {
  width: 100%;
}

.search-results > .container {
  padding-top: 150px;  /* Navbar height. */
}
@media screen and (max-width: 1200px) {
  .search-results > .container {
    padding-top: 150px;  /* Navbar height. */
  }
}

.search-header {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;  /* Navbar height. */
  background-color: $white;
  padding-top: 2rem;
/*
  padding-bottom: 1rem;
 */
}
@media screen and (max-width: 1200px) {
  .search-header {
    top: 50px;  /* Navbar height. */
  }
}

.search-header h1 {
  margin: 0;
  line-height: 1;
}

.col-search-close {
  text-align: right;
}

.search-header i {
  font-size: 2rem;
  line-height: 1;
}

#search-box {
  position: relative; /* Required for search icon positioning. */
  margin-bottom: 0.5em;
}

#search-box::before {
  font-family: 'FontAwesome';
  font-weight: 900;
  content: "\f002";
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1rem;
  position: absolute;
  left: 3.8rem;
  top: 0.75rem;
}

#search-box #search-query {
  border: 1px solid $gray-300;
  border-radius: 2.5rem;
  padding: 1rem 1rem 1rem 2.5rem; /* Wider left padding for search icon to fit in. */
  width: 250px;
  line-height: 2rem;
  height: 2.5rem;
  font-size: 1rem;
}

.search-hit em {
  font-style: normal;
  background-color: $pink;
}

.search-hit-type {
  margin-bottom: 0 !important; /* Override .article-metadata margin. */
  text-transform: capitalize;
}

.search-hit-description {
  /* font-size: 0.7rem; */
  font-style: italic;
}

/* Load more results button - hide when there are no more results. */
#search-hits button[disabled] {
  display: none;
}

.form-control:focus {
/*
  border-color: {{ .Get "primary" }};
  box-shadow: 0 0 0 .2rem {{ .Get "primary_light" }};
 */
}

.search-hit h2 {
  margin-bottom: .25em;
}

.search-hit h2 a:hover {
  color: $black;
  box-shadow: inset 0 0 0 $white, 0 3px 0 $black;
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/

@media screen and (min-width: 30em) {

  /* Typography */

  body,
  button,
  input,
  select,
  textarea {
    font-size: 18px;
    font-size: 1.125rem;
  }

  h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  h2,
  .home.blog .entry-title {
    font-size: 26px;
    font-size: 1.625rem;
  }

  h3 {
    font-size: 22px;
    font-size: 1.375rem;
  }

  h4 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  h5 {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  h6 {
    font-size: 16px;
    font-size: 1rem;
  }

  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    font-size: 14px;
    font-size: 0.875rem;
  }

  /* Fix image alignment */
  img.alignleft {
    float: left;
    margin-right: 1.5em;
  }

  img.alignright {
    float: right;
    margin-left: 1.5em;
  }

  /* Site Branding */

  .site-branding {
    padding: 3em 0;
  }

  /* Blog Index, Archive, Search */

  .page-numbers.current {
    font-size: 16px;
    font-size: 1rem;
  }

  /* Site Footer */

  .site-footer {
    font-size: 16px;
    font-size: 1rem;
  }

}

@media screen and (min-width: 48em) {

  /* Typography */

  body,
  button,
  input,
  select,
  textarea {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }

  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  /* Layout */

  .wrap {
    max-width: 1000px;
    padding-left: 3em;
    padding-right: 3em;
  }

  .has-sidebar #primary {
    float: left;
    width: 58%;
    min-height: 35rem;
  }

  .has-sidebar #secondary {
    float: right;
    padding-top: 0;
    width: 36%;
  }

  /* Site Branding */

  .site-branding {
    margin-bottom: 0;
  }

  .site-title {
    font-size: 36px;
    font-size: 2.25rem;
  }

  .site-description {
    font-size: 19px;
    font-size: 1.2rem;
  }

  /* Posts */

  .page .entry-title {
    font-size: 26px;
    font-size: 1.625rem;
  }

  .post-navigation {
    clear: both;
  }

  .post-navigation .nav-previous {
    float: left;
    width: 50%;
  }

  .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }

  .nav-next,
  .post-navigation .nav-next {
    margin-top: 0;
  }

  /* Blog, archive, search */

  body:not(.has-sidebar) .page-header {
    float: left;
    width: 36%;
  }

  .blog:not(.has-sidebar) #primary article,
  .archive:not(.has-sidebar) #primary article,
  .search:not(.has-sidebar) #primary article,
  body.page-two-column #primary .entry-content {
    float: right;
    width: 58%;
  }

  .blog .site-main > article,
  .archive .site-main > article,
  .search .site-main > article {
    padding-bottom: 4em;
  }

  .navigation.pagination {
    clear: both;
    float: right;
    width: 58%;
  }

  .has-sidebar .navigation.pagination {
    float: none;
    width: 100%;
  }

  /* Entry content */

  /* without sidebar */

  :not(.has-sidebar) .entry-content blockquote.alignleft {
    margin-left: -17.5%;
    width: 48%;
  }

  :not(.has-sidebar) .entry-content blockquote.alignright {
    margin-right: -17.5%;
    width: 48%;
  }

  /* with sidebar */

  .has-sidebar .entry-content blockquote.alignleft {
    margin-left: 0;
    width: 34%;
  }

  .has-sidebar .entry-content blockquote.alignright {
    margin-right: 0;
    width: 34%;
  }

  .has-sidebar #primary .entry-content blockquote.alignright.below-entry-meta {
    margin-right: -72.5%;
    width: 62%;
  }

  /* blog and archive */

  .blog:not(.has-sidebar) .entry-content blockquote.alignleft,
  .archive:not(.has-sidebar) .entry-content blockquote.alignleft,
  .page-two-column .entry-content blockquote.alignleft {
    margin-left: -72.5%;
    width: 62%;
  }

  .blog:not(.has-sidebar) .entry-content blockquote.alignright,
  .archive:not(.has-sidebar) .entry-content blockquote.alignright,
  .page-two-column .entry-content blockquote.alignright {
    margin-right: 0;
    width: 36%;
  }

  /* Pages */

  .page:not(.home) #content {
    padding-bottom: 3.25em;
  }

  /* Posts pagination */

  .nav-links .nav-title {
    position: relative;
  }

  .nav-title-icon-wrapper {
    position: absolute;
    text-align: center;
    width: 2em;
  }

  .nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
    left: -2em;
  }

  .nav-links .nav-next .nav-title .nav-title-icon-wrapper {
    right: -2em;
  }

  /* Secondary */

  #secondary {
    font-size: 15px;
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Widgets */

  h2.widget-title {
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 2em;
  }

  /* Footer */

  .site-footer {
    font-size: 14px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-top: 3em;
  }

  .site-footer .widget-column.footer-widget-1 {
    float: left;
    width: 36%;
  }

  .site-footer .widget-column.footer-widget-2 {
    float: right;
    width: 58%;
  }

}

@media screen and ( min-width: 67em ) {

  /* Pagination */

  .page-numbers {
    display: inline-block;
  }

  .page-numbers.current {
    font-size: 15px;
    font-size: 0.9375rem;
  }

  .page-numbers.current .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
  }
}

@media screen and ( min-width: 79em ) {

  .has-sidebar .entry-content blockquote.alignleft {
    margin-left: -20%;
  }

  .blog:not(.has-sidebar) .entry-content blockquote.alignright,
  .archive:not(.has-sidebar) .entry-content blockquote.alignright,
  .page-two-column .entry-content blockquote.alignright {
    margin-right: -20%;
  }
}

/*--------------------------------------------------------------
20.0 Print
--------------------------------------------------------------*/

@media print {

  /* Hide elements */

  form,
  button,
  input,
  select,
  textarea,
  #secondary,
  .header-image,
  .page-links,
  .post-navigation,
  .pagination.navigation,
  .site-footer aside.widget-area {
    display: none !important;
  }

  .entry-footer,
  .site-footer,
  .single-featured-image-header {
    border: 0;
  }

  /* Font sizes */

  body {
    font-size: 12pt;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 17pt;
  }

  h4 {
    font-size: 12pt;
  }

  h5 {
    font-size: 11pt;
  }

  h6 {
    font-size: 12pt;
  }

  .page-title,
  .entry-title {
    font-size: 10pt;
  }

  /* Layout */

  .wrap {
    padding-left: 5% !important;
    padding-right: 5% !important;
    max-width: none;
  }

  /* Site Branding */

  .site-header {
    background: transparent;
    padding: 0;
  }

  .site-branding {
    margin-top: 0;
    margin-bottom: 1.75em !important; /* override styles added by JavaScript */
  }

  .site-title {
    font-size: 25pt;
  }

  .site-description {
    font-size: 12pt;
    opacity: 1;
  }

  /* Posts */

  .single-featured-image-header {
    background: transparent;
  }

  .entry-meta {
    font-size: 9pt;
  }

  /* Colors */

  body,
  .site {
    background: none !important; /* Brute force since user agents all print differently. */
  }

  body,
  a,
  .site-title a {
    color: $gray-900 !important; /* Make sure color schemes don't affect to print */
  }

  h2,
  h5,
  blockquote,
  .site-description,
  .entry-meta,
  .entry-meta a {
    color: $gray-600 !important; /* Make sure color schemes don't affect to print */
  }

  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    font-size: 11pt;
    width: 34%;
  }

  .site-footer {
    padding: 0;
  }
}

/*--------------------------------------------------------------
21.0 Dark mode
--------------------------------------------------------------*/

@media screen and (prefers-color-scheme: dark) {
  /* Decrease the brightness and contrast of images a bit. */
  img {
    filter: brightness(.8) contrast(1.2);
  }

  body,
  button,
  input,
  select,
  textarea {
    color: $body-color-dark;
  }
  h2,
  h3,
  h4,
  h6,
  .home.blog .entry-title {
    color: $body-color-dark;
  }
  h5 {
    color: $gray-400;
  }
  blockquote {
    color: $gray-300;
    border-left: 5px solid $gray-500;
  }
  pre {
    background-color: $gray-800 !important;
  }
  abbr,
  acronym {
    border-bottom: 1px dotted $gray-300;
  }
label {
  color: $body-color-dark;
}
  textarea {
    color: $gray-300;
    background: $gray-900;
    border: 1px solid $gray-600;
  }
  textarea:focus {
    color: $body-color-dark;
    border-color: $gray-300;
  }
  select {
    border: 1px solid $gray-600;
  }
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: thin dotted $body-color-dark;
  }
  button,
  input[type="button"],
  input[type="submit"] {
    background-color: $body-color-dark;
    color: $gray-900;
  }
  button.secondary,
  input[type="reset"],
  input[type="button"].secondary,
  input[type="reset"].secondary,
  input[type="submit"].secondary {
    background-color: $gray-700;
    color: $body-color-dark;
  }
  button:hover,
  button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background: $gray-400;
  }
  button.secondary:hover,
  button.secondary:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="button"].secondary:hover,
  input[type="button"].secondary:focus,
  input[type="reset"].secondary:hover,
  input[type="reset"].secondary:focus,
  input[type="submit"].secondary:hover,
  input[type="submit"].secondary:focus {
    background: $gray-600;
  }
  hr {
    background-color: $gray-600;
  }
  thead th {
    border-bottom: 2px solid $gray-600;
  }
  tr {
    border-bottom: 1px solid $gray-700;
  }
  a {
    color: $body-color-dark;
  }
  a:hover,
  a:active {
    color: $body-color-dark;
  }
  :hover > .anchor-heading,
  .anchor-heading:focus {
    color: $gray-300;
  }
  .entry-content a.anchor-heading:hover,
  .entry-content a.anchor-heading:focus {
    box-shadow: initial;
    color: $gray-300;
  }
  .site-footer .widget-area a {
    box-shadow: inset 0 -1px 0 $link-hover-color-dark;
  }
  .entry-content a,
  .entry-summary a,
  .widget a,
  .site-footer .widget-area a {
    box-shadow: inset 0 -1px 0 $link-hover-color-dark;
  }
  .entry-title a,
  .entry-meta a,
  .page-links a,
  .page-links a .page-number,
  .entry-footer a,
  .entry-footer .cat-links a,
  .entry-footer .tags-links a,
  .post-navigation a,
  .logged-in-as a,
  a .nav-title,
  .pagination a,
  .widget .widget-title a,
  .widget ul li a,
  .site-footer .widget-area ul li a {
    box-shadow: inset 0 -1px 0 $gray-900;
  }
  .entry-content a:focus,
  .entry-content a:hover,
  .entry-summary a:focus,
  .entry-summary a:hover,
  .widget a:focus,
  .widget a:hover,
  .site-footer .widget-area a:focus,
  .site-footer .widget-area a:hover,
  .entry-title a:focus,
  .entry-title a:hover,
  .entry-meta a:focus,
  .entry-meta a:hover,
  .page-links a:focus .page-number,
  .page-links a:hover .page-number,
  .entry-footer a:focus,
  .entry-footer a:hover,
  .entry-footer .cat-links a:focus,
  .entry-footer .cat-links a:hover,
  .entry-footer .tags-links a:focus,
  .entry-footer .tags-links a:hover,
  .post-navigation a:focus,
  .post-navigation a:hover,
  .pagination a:not(.prev):not(.next):focus,
  .pagination a:not(.prev):not(.next):hover,
  .logged-in-as a:focus,
  .logged-in-as a:hover,
  a:focus .nav-title,
  a:hover .nav-title,
  .widget .widget-title a:focus,
  .widget .widget-title a:hover,
  .widget ul li a:focus,
  .widget ul li a:hover {
    color: $body-color-dark;
    box-shadow: inset 0 0 0 $gray-900, 0 3px 0 $body-color-dark;
  }
  .entry-content a img,
  .widget a img {
    box-shadow: 0 0 0 8px $gray-900;
  }
  .post-navigation a:focus .icon,
  .post-navigation a:hover .icon {
    color: $body-color-dark;
  }
  body {
    color: $body-color-dark;
    background: $gray-900;
  }
  .site-header {
    background-color: $black;
  }
  .site-title,
  .site-title a {
    color: $red;
  }
  .site-description {
    color: $red;
  }
  .site-content-contain {
    background-color: $gray-900;
  }
  .page-title,
  body.page .entry-title {
    color: $body-color-dark;
  }
  .entry-title a {
    color: $body-color-dark;
  }
  .entry-meta,
  .entry-meta a,
  .page-numbers.current {
    color: $gray-500;
  }
  .prev.page-numbers,
  .next.page-numbers {
    background-color: $gray-700;
  }
  .prev.page-numbers:focus,
  .prev.page-numbers:hover,
  .next.page-numbers:focus,
  .next.page-numbers:hover {
    background-color: $gray-400;
    color: $gray-900;
  }
  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    color: $gray-300;
  }
  .single-featured-image-header {
    background-color: $gray-900;
    border-bottom: 1px solid $gray-700;
  }
  .page-links .page-number {
    color: $gray-400;
  }
  .page-links a .page-number {
    color: $body-color-dark;
  }
  section .citation {
    border-top: 1px solid $gray-700;
  }
  .entry-footer {
    border-bottom: 1px solid $gray-700;
    border-top: 1px solid $gray-700;
  }
  .entry-footer .cat-links a,
  .entry-footer .tags-links a,
  .entry-footer .permalink a {
    color: $gray-400;
  }
  .entry-footer .cat-links .icon,
  .entry-footer .tags-links .icon,
  .entry-footer .permalink .icon {
    color: $gray-400;
  }
  .nav-subtitle {
    color: $gray-400;
  }
  .nav-title {
    color: $body-color-dark;
  }
  #primary .archive-group ul li a:hover {
    color: $body-color-dark;
    box-shadow: inset 0 0 0 $gray-900, 0 3px 0 $body-color-dark;
  }
  #primary .archive-group ul li .meta {
    color: $gray-400;
  }
  .site-footer {
    border-top: 1px solid $gray-700;
  }
  h2.widget-title {
    color: $body-color-dark;
  }
  .widget ul li,
  .widget ol li {
    border-bottom: 1px solid $gray-700;
    border-top: 1px solid $gray-700;
  }
  .search-results {
    background-color: $gray-900;
  }
  .search-header {
    background-color: $gray-900;
  }
  #search-box::before {
    color: $gray-700;
  }
  #search-box #search-query {
    background-color: $gray-300;
    border: 1px solid $gray-700;
  }
  .search-hit h2 a:hover {
    color: $body-color-dark;
    box-shadow: inset 0 0 0 $gray-900, 0 3px 0 $body-color-dark;
  }

}

