<!-- Custom styles -->
{{ $css_options := (dict ) }}
{{ if .Site.IsServer }}
  {{ $cssOpts := merge $css_options (dict "enableSourceMap" true) }}
  {{ $fontawesomeCSS := resources.Get "css/font-awesome.css" | toCSS $cssOpts | postCSS }}
  {{ $styleCSS := resources.Get "css/style.css" | toCSS $cssOpts | postCSS }}
  {{ $blocksCSS := resources.Get "css/blocks.css" | toCSS $cssOpts | postCSS }}
  {{ $syntaxCSS := resources.Get "css/syntax.css" | toCSS $cssOpts | postCSS }}
  {{ $customCSS := resources.Get "css/custom.css" | toCSS $cssOpts | postCSS }}
  <link href="{{ $fontawesomeCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $styleCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $blocksCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $syntaxCSS.Permalink }}" rel="stylesheet">
  <link href="{{ $customCSS.Permalink }}" rel="stylesheet">
{{ else }}
  {{ $cssOpts := merge $css_options (dict "enableSourceMap" false "outputStyle" "compressed") }}
  {{ $fontawesomeCSS := resources.Get "css/font-awesome.css" | toCSS $cssOpts | minify | fingerprint "md5" }}
  {{ $styleCSS := resources.Get "css/style.css" | toCSS $cssOpts | postCSS | minify | fingerprint "md5" }}
  {{ $blocksCSS := resources.Get "css/blocks.css" | toCSS $cssOpts | postCSS | minify | fingerprint "md5" }}
  {{ $syntaxCSS := resources.Get "css/syntax.css" | toCSS $cssOpts | postCSS | minify | fingerprint "md5" }}
  {{ $customCSS := resources.Get "css/custom.css" | toCSS $cssOpts | postCSS | minify | fingerprint "md5" }}
  <link href="{{ $fontawesomeCSS.Permalink }}" integrity="{{ $fontawesomeCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $styleCSS.Permalink }}" integrity="{{ $styleCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $blocksCSS.Permalink }}" integrity="{{ $blocksCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $syntaxCSS.Permalink }}" integrity="{{ $syntaxCSS.Data.Integrity }}" rel="stylesheet">
  <link href="{{ $customCSS.Permalink }}" integrity="{{ $customCSS.Data.Integrity }}" rel="stylesheet">
{{ end }}
