<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="wrap">
    <aside class="widget-area" role="complementary" aria-label="Pied de page">
      <div class="widget-column footer-widget-1">
        <section id="text-3" class="widget widget_text">
          <div class="textwidget">
            <p>
              Le site <em>Perspectives</em> est mis à disposition sous contrat <a href="{{ "/a-propos" | absURL }}/#licence">Creative Commons</a>
            </p>
            <p>
              Copyright © 2006–{{ now.Format "2006" }} Nicolas Martignoni
          </div>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="text-5" class="widget widget_text">
          <div class="textwidget">
            <p>
              <a href="{{ "/a-propos" | absURL }}">À propos</a>
            </p>
            <p>
              <a href="{{ "/contact" | absURL }}">Contact</a>
            </p>
          </div>
        </section>
      </div>
    </aside>
  </div> <!-- .wrap -->
</footer> <!-- #colophon -->
