<nav class="navigation pagination" role="navigation">
  <h2 class="screen-reader-text">
    Navigation des articles
  </h2>
  <div class="nav-links">
  {{if .Paginator.HasPrev }}
    <a class="prev page-numbers" href="{{ .Paginator.Prev.URL }}"><svg class="icon icon-arrow-left" aria-hidden="true" role="img"> <use href="#icon-arrow-left" xlink:href="#icon-arrow-left"></use> </svg><span class="screen-reader-text">{{ i18n "previous" }}</span></a>
  {{ end }}
  {{ range .Paginator.Pagers }}
    {{ .PageNumber }}
  {{ end }}


    <a class="page-numbers" href="{{ .Paginator.First.URL }}"><span class="meta-nav screen-reader-text">Page </span>1</a>
    <span aria-current="page" class="page-numbers current"><span class="meta-nav screen-reader-text">Page </span>{{ .Paginator.PageNumber }}</span>
    <a class="page-numbers" href="https://blog.martignoni.net/page/2/"><span class="meta-nav screen-reader-text">Page </span>2</a>
    <span class="page-numbers dots">…</span>
    <a class="page-numbers" href="{{ .Paginator.Last.URL }}"><span class="meta-nav screen-reader-text">Page </span>{{ .Paginator.TotalPages }}</a>
  {{ if .Paginator.HasNext }}
    <a class="next page-numbers" href="{{ .Paginator.Next.URL }}"><span class="screen-reader-text">{{ i18n "next" }}</span><svg class="icon icon-arrow-right" aria-hidden="true" role="img"> <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg></a>
  {{ end }}
  </div>
</nav>
